.reveal {
	text-stroke: 1px black;
	-webkit-text-stroke: 1px black;
}

.reveal h1 {
	font-size: 2em;
}

.reveal h2 {
	font-size: 1.3em;
}

.reveal section img {
	border: none;
	background: none;
	box-shadow: unset;
}

.reveal a {
	font-size: 0.8em;
}

.reveal .attribution {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.5em;
}

.browser-icon {
	width: 20%;
	display: inline-block;
}

.browser-icon_disabled {
	filter: grayscale(100%);
}

.reveal img.screenshot-small {
	max-width: 30%;
}

.screenshot-small.fragment {
	opacity: 0;
}

.attribution {
	font-size: 0.6em;
}
